/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import "@fortawesome/fontawesome-free/css/all.css";
@tailwind base;
@tailwind components;
@font-face {
    font-family: Determination Sans Web;
    src: url(./assets/determinationsansweb.ttf);
  }
@tailwind utilities;
/* Para navegadores WebKit (Chrome, Safari) */
/* Define o fundo da barra de rolagem como transparente */
::-webkit-scrollbar {
  background-color: #000; /* Fundo transparente */
}

/* Define o fundo do polegar da barra de rolagem como transparente */
::-webkit-scrollbar-thumb {
  background-color: #fff; /* Fundo transparente */
}

/* Opcional: Define uma borda na barra de rolagem */
/* Você pode ajustar a largura e a cor conforme necessário */
::-webkit-scrollbar-thumb {
  border: 2px solid #000000; /* Borda preta de 2px */
  border-radius: 6px; /* Borda arredondada */
}