<button (click)="toggleFullScreen(iframeid)" class="text-white font-inconsolata mt-4 border border-1-white pl-2 pr-2 bg-black z-10">
    Abrir em tela cheia
</button>
<div class="flex h-[400px] w-full border-2"><iframe [id]="iframeid" class="z-10 w-full bg-black border-1" [src]="trustedUrl" [scrolling]="scroll" frameborder="1"><p>
    Your browser does not support iframes.</p></iframe></div>
<span class="w-full text-white font-inconsolata border-2 pl-2 pr-2 bg-black z-20">Description: {{description}}</span>
